streamlit
yfinance>=0.2.40
pandas_ta
gspread-dataframe
pandas

requests
beautifulsoup4
lxml
typing_extensions
google-genai
fastapi
uvicorn
jinja2
python-multipart

diskcache
lightweight-charts
duckdb
st-gsheets-connection
gspread
google-auth
